@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

body {
  font-family: "Comfortaa", cursive;
}
#ethan {
  position: absolute;
  top: 12px;
  right: 2px;
  width: 80px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 5px;
  display: none;
}
